.player {
    border-radius: 10px;
    padding: 10px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    transition: var(--transition) 0.5s opacity;
    justify-content: center;
    text-align: center;
    min-width: 200px;

}

.players-config {
    text-align: center;
}

.players-config input[type="text"] {
    margin-top: 10px;
    border: 1px solid var(--white);
    border-radius: 5px;
    padding: 10px 14px;
    background-color: transparent;
}

.players-config input[type="color"] {
    width: 0;
    height: 0;
}

::placeholder {
    color: var(--white);
}

.players-config .color {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    outline: var(--black) 2px solid;
    outline-offset: -2px;

}

.players-config>div:nth-child(1) {
    display: flex;
    justify-content: space-around;
}

.players-config>div:nth-child(1) > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.players-config .player-color {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.players-config label {
    cursor: pointer;
}

.players-config button {
 
    margin-top: 20px;
 
}